
.inputLabel{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}


.labelTitle{
    color: #575757;
    margin-right: 8px;
}

.inputField{
    padding: 8px;
    border:1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding:10px 2px;
}


