
.inputLabel{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.inputField{
    padding: 8px;
    border:1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    width: 370px;
    height: 35px;
}


@media only screen and (max-width: 1024px) {
        .inputField{
            width: 250px;
        }
    }