.dataAddressContents{
    padding: 10px 0 5px 0;
    margin-top: 24px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.inputAddressGrouping{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.inputAddressElements{
    margin-left: 25px;
}

.details{
    border-bottom: 1px solid #333;
}

/* iPads (portrait) ----------- */
@media only screen and (max-width : 1024px) {
    .details{
        display:none;
    }

}


/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 768px) {
    .inputAddressElements{
        margin-left: 8px;
    }
    .dataAddressTitle > p {
        font-size: 13px;
    }
}


/* Big smartphones (portrait) */
@media only screen and (max-width : 640px) {
    .inputAddressGrouping{
        width: 100%;
        justify-content: space-between;
    }
    .dataAddressContents{
        flex-direction: column;
        align-items: flex-end;
    }
}


