.searchContainer{
    width:95%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.searchContents{
    width:75%;
    height: 50px;
}
.searchInput{
    width:100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(192, 186, 186);
}

.searchIconContents{
    padding:5px 8px  5px 0;
}

.searchIcon{
    color:#48a3d4;
    background-color: #fff;
    border-radius: 30px;
    padding: 1px 8px 1px 8px;
    position: relative;
    bottom: 14px;
    left: 10px;
}
.mdicon{
    position: relative;
    top:4px;
}

.bellcontents{
    color:#555555;
    position: relative;
    bottom:8px;
    font-size: 29px;
}

.notification{
    position: absolute;
    background-color: #de696b;
    border-radius: 50px;
    color:#fff;
    padding: 0px 3px;
    left: 15px;
    top: 10px;
    font-size: 8px;
}