.gatesContainer{
    margin: 0 13px;
}

.gatesdata{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}


.tab{
    color: #fff;
    font-weight: 800;
    margin: 0 15px;
    cursor:pointer;
    font-size: 17px;
}

.active{
    color:#333;
    background-color: #fff;
    border-radius: 19px;
    padding: 3px 5px;
}

/* iPads (portrait) ----------- */
@media only screen and (max-width: 1024px) {
    .tab{
        margin: 0 15px;
    }
}
/* Big smartphones (portrait) (ie: Galaxy 3 has 360)*/
@media only screen and (max-width : 640px) {
    .gatesdata{
        display:none;
    }
}

